body {
    background: purple;
}

header {
    background: yellow;
    grid-area: myheader;
}

footer{
    background-image: url("sand.jpg");
    background-size: 100% 100%;
    grid-area: myfooter;
}

div.one{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: green;
    grid-area: one;
}

div.two{
    font-family: 'Orbitron', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: orange;
    grid-area: two;
}

div.three{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background:  white;
    grid-area: three;
}

div.calc-display {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background: olive;
    /* grid-area: calc-display; */
    grid-column: 1/5
}
div.black-button{
    text-align: center;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background: black;
    /* grid-area: black-button; */
}

div.gray-button{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background: gray;
    /* grid-area: gray-button; */
}

div.gray-button0{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background: gray;
    /* grid-area: gray-button; */
    grid-column: 1/3;
}

div.red-button{
    text-align: center;
    padding-top: 28px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background: red;
    /* grid-area: red-button; */
    grid-row: 5/7;
    grid-column: 4/5;
}


.container {
    display: grid;
    
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "myheader   myheader"
    "one        two"    
    "three      three"
    "myfooter   myfooter";
}

.calculator{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-areas:
    /* "calc-display calc-display calc-display calc-display"
    /* "black-button black-button black-button black-button" 
    "gray-button gray-button gray-button gray-button"
    "gray-button gray-button gray-button gray-button"
    "gray-button gray-button gray-button red-button" */
    /* "gray-button gray-button gray-button red-button" ; */ 
}