header {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

footer {
  background-image: url("../images/sand.jpg");
  background-size: 100% 100%;
  grid-area: myfooter;
}

.img1 {
  width: 170px;
  height: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img2 {
  width: 170px;
  height: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.one {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: lightblue;
}

div.one p {
  height: auto;
}

.has-border {
  border-radius: 25px;
  border: 2px solid #0795c3;
  background: white;
  padding: 10px;
}

@media (min-width: 1000px) {
  .img1 {
    width: 170px;
    height: 170px;
    margin-right: 20px;
    margin-left: 20px;
    float: right;
  }
  .img2 {
    width: 170px;
    height: 170px;
    margin-right: 20px;
    margin-left: 20px;
    float: left;
  }
}
