h1 {
    width:60%;
    margin: 5% auto;
}

main {
    width: 60%;
    margin: 5% auto;
    background: pink;
}

article {
    margin: 1% auto;
    border: 2px solid gray;
    width: 60%;
    background: white;
}

article > h3 {
    font-size: 1em; 
}

article:hover {
    background: gray;
}

article:hover.pufferfish {
    background-image: url("startledpufferfish.jpg"); 
}